@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #fbf7f4;
    color:black;
}

.button {
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: black;
    color:#fbf7f4;
}

.button-feedback,
.button-light{
    background-color: #fff;
    color: black;
}

/* 
.visually-hidden{
    display: none;  //hide extra text
}
*/

/* Page */

.main-header {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 18px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    background-color: #000;
}

.main-index {
    background-color: #000;
    color: #fff;
    background-image: url(../images/interior-photo.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/* Advantages list*/

.advantages-list {
    text-align: center;
}

.advantages-title {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 35px;
    font-weight: bold;
}

/* Wraps*/

.wrap-column {
    background-color: #fbf7f4;
    color:#242424;
    background-image: url(../images/sprite.png);
}

/* Services*/
.services {
    text-transform: uppercase;
    font-weight: bold;
}

.services-title{
    font-size: 32px;
    line-height: 35px;
}

.services-list {
    font-size: 20px;
}


.services-price {
    color: #af7842;
}

/* Gallery*/
.gallery-title{
    font-size: 32px;
    line-height: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Contacts*/
.contacts {
    font-weight: bold;
}

.contacts-title {
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.contacts-subtitle {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #af7842;
}

.contacts-adress-text {
    font-style: normal;
}

.contacts-phone {
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color:#242424;
}

/* Appointment*/
.appointment {
    font-weight: bold;
    text-transform: uppercase;
}

.appointment-title{
    font-size: 32px;
    line-height: 35px;
}

.form-caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    color: #595959;
}

.form-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}


/* Main footer*/
.page-footer{
    background-image: url(../images/sprite.png);
    background-color: #242424;
    color: white;
}

.page-footer-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.about-text{
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: none;
}

.footer-contacts-adress-phone{
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

.footer-contacts-map-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

.main-inner {
    background-color: #fbf7f4;
    color:#242424;
    background-image: url(../images/sprite.png);
}

.inner-header-title {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 35px;
}

.breadcrumbs-link {
    color: #242424;
}

.catalog-products {
    font-weight: bold;
}

.catalog-filter-title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
}

.sorting-container {
    background-color: #fff;
    color:#242424;
    width: 700px;
    height: 76px;
}

.select-control {
    border: 2px solid #242424;
    width: 260px;
    height: 44px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background-color: #fff;
    color:#242424;
}

.product-card-item {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    background-color: #fff;
}

.product-card-price {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color:#814b18;
}

.pagination-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: #000;
    color:#fff;
}

.pagination-current {
    background-color: #fff;
    color: #000;
}

.pagination-disabled {
    background-color: #595959;
}