@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #fbf7f4;
    color: black;
}

.main-container {
    flex-grow: 1;
}

.button {
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: black;
    color: #fbf7f4;
}

.button-feedback,
.button-light {
    background-color: #fff;
    color: black;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Page */

.main-header {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 18px;
}

.navigation {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 470px;
}

.navigation-user {
    max-width: 270px;
    margin-left: auto;
    justify-content: end;
}

.nav-link {
    display: block;
    padding: 24px 20px;

    text-decoration: none;
    color: #fff;
    background-color: #000;
}

.navigation-user .nav-link {
    min-width: 16px;
    min-height: 22px;
}

.inner-logo {
    width: 140px;
    margin-right: 100px;
}

.main-index {
    padding-top: 64px;
    padding-bottom: 60px;

    background-color: #000;
    color: #fff;
    background-image: url(../images/interior-photo.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.page-container {
    width: 940px;
    margin: 0 auto;
    padding:0;
}

.logo {
    display: block;
    margin: 0 auto;
}

/* Advantages list*/

.advantages {
    margin-top: 64px;
    margin-bottom: 58px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
}

.advantages-item {
    width: 277px;
}

.advantages-title {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 56px;
    padding: 0;

    font-size: 32px;
    line-height: 35px;
    font-weight: bold;
}

.advantages-description {
    margin: 0;
    padding: 0;
}

/* Wraps*/

.wrap-column {
    background-color: #fbf7f4;
    color: #242424;
    background-image: url(../images/sprite.png);
    
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.wrap-column:not(:last-child) {
    margin-bottom: 32px;
}

/* Services*/
.services {
    text-transform: uppercase;
    font-weight: bold;
    width: 390px;
}

.services-title {
    margin-top: 0;
    margin-bottom: 28px;

    font-size: 32px;
    line-height: 35px;
}

.services-list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style-type: none;
    font-size: 20px;
}

.services-price {
    color: #af7842;
}

/* Gallery*/
.gallery {
    width: 390px;
}

.gallery-title {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 32px;
    line-height: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Contacts*/
.contacts {
    font-weight: bold;
    width: 352px;
}

.contacts-title {
    margin-top: 0;
    margin-bottom: 24px;

    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.contacts-subtitle {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #af7842;
}

.contacts-adress-text {
    font-style: normal;
}

.contacts-phone {
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: #242424;
}

/* Appointment*/
.appointment {
    font-weight: bold;
    text-transform: uppercase;
    width: 430px;
}

.appointment-title {
    margin: 0;
    margin-bottom: 20px;

    font-size: 32px;
    line-height: 35px;
}

.form-caption {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    color: #595959;
}

.form-label {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

/* Сетка формы */
.appointment-form {
    width: 430px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 114px 74px 208px;
    gap: 17px 19px;
}

.appointment-name {
    grid-column: -1 / 1;
}

.appointment-submit {
    grid-column: -1 / 1;
    justify-self: start;
}

.field-group {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main footer*/
.page-footer {
    background-image: url(../images/sprite.png);
    background-size: auto;
    background-color: #242424;
    color: white;
}

.page-footer-container {
    margin: 40px auto;
    padding: 0;
    display: flex;
    width: 940px;
}

.footer-contacts {
    width: 187px;
    margin-right: auto;
}

.footer-social {
    margin-left: auto;
    width: 184px;
}

.page-footer-title {
    margin-top: 0;
    margin-bottom: 14px;
    
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.about-text {
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: none;
}

.footer-contacts-adress-phone {
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

.footer-contacts-map-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

.footer-socials-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style-type: none;
}

.footer-socials-item {
    background-color: #000;
    width: 56px;
    height: 44px;
}


.main-inner {
    padding-top: 40px;
    padding-bottom: 60px;

    background-color: #fbf7f4;
    color: #242424;
    background-image: url(../images/sprite.png);
}

.inner-header-title {
    margin: 0;
    margin-bottom: 16px;

    text-transform: uppercase;
    font-size: 32px;
    line-height: 35px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.breadcrumbs-link {
    color: #242424;
    margin-right: 32px;
}

.catalog-products {
    margin: 0;
    margin-top: 32px;

    display: flex;
    font-weight: bold;
}

.catalog-filter {
    width: 220px;
    margin-right: 20px;
}

.catalog-filter-title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
}

.catalog-right-column {
    width: 700px;
}

.sorting-container {
    display: flex;
    box-sizing: border-box;
    padding: 16px;
    margin-bottom: 16px;

    background-color: #fff;
    color: #242424;
    width: 700px;
    height: 76px;
}

.sorting-container .button{
    width: 56px;
    height: 44px;
}

.select-control {
    border: 2px solid #242424;
    width: 260px;
    height: 44px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background-color: #fff;
    color: #242424;
}

.product-card-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 220px 220px 220px;
    gap: 20px;
}

.product-card-item {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.card-inner-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow:  1;

    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    background-color: #fff;
}

.product-card-button {
    margin-top: auto;
}

.product-card-link {
    color: #000;
    background-color: #fff;
    text-decoration: none;
}

.product-card-title {
    margin-top: 0;
    margin-bottom: 8px;

    font-size: 16px;
    line-height: 24px;
}

.product-card-price {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #814b18;
}



.pagination-container {
    display: flex;
    background-color: #fff;
    margin-top: 24px;
    padding: 16px;
}

.pagination {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 44px;
    padding: 14px 20px;
    
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.pagination-current {
    background-color: #fff;
    color: #000;
}

.pagination-disabled {
    background-color: #595959;
}

.pagination-show-more {
    margin-left: auto;
}